[Unit]
Description=Service for sending mail via nullmailer
After=syslog.target network.target

[Service]
Type=simple
User=nullmailer
Group=nullmailer
ExecStart=/usr/sbin/nullmailer-send

[Install]
WantedBy=multi-user.target
